<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Promanager</title>
    {% load staticfiles %}
    <link href="{% static 'website/login.css' %}" rel="stylesheet" type="text/css">
   	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<body style="background-color:rgba(0,0,0,0.1)">

<div class="header1">
    <div class="huge" style="text-align:center">
        Promanager
    </div>
</div>


<div class="body">

   		<div style="color:black;font-size:140%;text-align:center;margin-top:10%">
            Your password has been set. You may go ahead and log in now.<br>
                <div class="but1" style="width:20%;margin-left:36%;padding:1%;font-size:100%" >
                    <a href="{% url 'login' %}"><button class="button"> Login</button></a>
                </div>
        </div>
</div>


</body>
</html>