
.header1{
    padding-bottom:3%;
    text-align:center;
    background-color:black;
    color:white;
    padding-top:2%;
}

.huge{
    font-size:220%;
}

.body{
    width:96%;
}
.content{
    width:60%;
	background-color:white;
    margin-left:20%;
	padding-bottom:0.1%;
}

img {
   padding:1%;
   border: solid black;
   height:50%;
   width:50%;
}

.photo{
	text-align:center;
    height:100%;
}
.initial{
	margin-top:5%;
	padding-top:5%;	
	padding-bottom:5%;
	width:50%;
	margin-left:25%;
	text-align:center;	
	background:rgba(0,0,0,.1);
	font-size:450%;
}

.upphoto{
	font-size:130%;
	width:50%;
	margin-left:25%;
	text-align:center;
	margin-top:2%;
}
.user{
	margin-top:5%;
	background:white;
	padding:2%;
}
.name{
	text-align:center;
	font-size:130%;
}
.username{
	font-size:120%;
}
.email{
	margin-left:10%;
	font-size:120%;	
}

.blue{
	color:blue;
	font-size:120%;
}

.detail{
	font-size:120%;
}

img{	
}

.container_body{
	font-weight:bold;
	opacity: 0.75;
	font-family:Tahoma, Geneva, sans-serif;
	padding:2%;
	color:black;
	text-align:center;
}

.form_title{
	text-align:center;
	font-size:180%;
	padding-top:3%;
	text-shadow: 0.5px 0.5px #000000;
	color:black;
}

#project_div{
	text-align:center;
	font-size:140%;
	width:50%;
	margin-left:25%;
	margin-bottom:2%;
}

#student_div{
	text-align:center;
	font-size:140%;
	width:45%;
	margin-left:27.5%;
	margin-bottom:2%;
}

#username_div{
	text-align:center;
	font-size:140%;
	width:50%;
	margin-left:25%;
	margin-bottom:2%;
}


#id_username{
    width:100%;
	text-align:center;
}

#but{
	text-align:center;
	width:40%;
	margin-top:3%;
	margin-left:30%;
	margin-bottom:5%;
}


.button{
    width:100%;
    background-color: black;
	font-size:140%;
	color:white;
	padding-top:2%;
	padding-bottom:2%;
	border-color:inherit;
	border: 1px solid black;
	opacity:0.5;
	transition: all .5s;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.button:hover, .button:active{
    box-shadow: 5px 5px 2px black;
}

.field{
	margin-bottom:2%;
	width:100%;
	 font-size:120%;
	padding-left:10%;
}

select{
	width:50%;
	padding:2%;
}

#sign{
	padding-left:15%;
	text-align:center;
	padding-bottom:3%;
}

.alink :link{
    color:white;
    text-align: left;
}

.alink:hover{
	color:red;
}
@media (max-width: 650px) {

    .content{
        width:80%;
        padding:0;
        margin:10%;
		padding-bottom:3%;
    }
    .huge{
        font-size:170%;
    }
	
    .field{
        padding:1%;
    }
	select{
		width:100%;
	}
}