
.header1{
    padding-bottom:3%;
    text-align:center;
    background-color:black;
    color:white;
    padding-top:2%;
}

.bu1{
    width:60%;
    margin-left:20%;
    padding:3%;
    margin-top:2%;
    background:rgba(0,0,0,.7);
	opacity:0.5;
	transition: all .5s;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.huge{
    font-size:220%;
}
.im{
margin-left:15%;
margin-top:5%;
width:170px;
}

.content{
    width:60%;
	background-color:white;
    margin-left:20%;
	padding-bottom:0.1%;
}


.photo{
	text-align:center;
    height:100%;
}
.initial{
	margin-top:5%;
	padding-top:5%;
	padding-bottom:5%;
	width:50%;
	margin-left:25%;
	text-align:center;
	background:rgba(0,0,0,.1);
	font-size:450%;
}

.upphoto{
	font-size:130%;
	width:50%;
	margin-left:25%;
	text-align:center;
	margin-top:2%;
}
.user{
	margin-top:5%;
	background:white;
	padding:2%;
}
.name{
	text-align:center;
	font-size:130%;
}
.username{
	font-size:120%;
	margin-left:5%;
	margin-top:2%;
}
.email{
	margin-left:10%;
	font-size:120%;
}

.blue{
	color:blue;
	font-size:120%;
}

.detail{
	font-size:120%;
}


.container_body{
	font-weight:bold;
	opacity: 0.75;
	font-family:Tahoma, Geneva, sans-serif;
	padding:2%;
	color:black;
	text-align:center;
}

.form_title{
	text-align:center;
	font-size:180%;
	padding-top:3%;
	text-shadow: 0.5px 0.5px #000000;
	color:black;
}


#project_div{
	text-align:center;
	font-size:140%;
	width:50%;
	margin-left:25%;
	margin-bottom:2%;
}

#student_div{
	text-align:center;
	font-size:140%;
	width:45%;
	margin-left:27.5%;
	margin-bottom:2%;
}

#username_div{
	text-align:center;
	font-size:140%;
	width:50%;
	margin-left:25%;
	margin-bottom:2%;
}


#id_username{
    width:100%;
	text-align:center;
}

#but{
	text-align:center;
	width:40%;
	margin-top:3%;
	margin-left:30%;
	margin-bottom:5%;
}


.button{
    width:100%;
    background-color: black;
	font-size:140%;
	color:white;
	padding-top:2%;
	padding-bottom:2%;
	border-color:inherit;
	border: 1px solid black;
	opacity:0.5;
	transition: all .5s;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.button:hover, .button:active{
    box-shadow: 5px 5px 2px black;
}

.field{
	margin-bottom:2%;
	width:100%;
	 font-size:120%;
	padding-left:10%;
}

select{
	width:50%;
	padding:2%;
}

.err{
    font-size:120%;
    color:red;
    text-align:center;
    font-style:italic;
    padding-bottom:1%;
}

#sign{
	padding-left:15%;
	text-align:center;
	padding-bottom:3%;
}

.alink :link{
    color:white;
    text-align: left;
}

.alink:hover{
	color:red;
}




@media (max-width:950px) {

    .content{
        width:100%;
        padding:0;
        margin:0;
        margin-right:0;
    }
    .huge{
        font-size:170%;
    }

    .username{
	font-size:120%;
	padding-left:25%;
	margin-top:2%;
    }

    .photo{
        text-align:center;
    }

}




@media (max-width:770px) {

    .content{
        width:100%;
        padding:0;
        margin:0;
        margin-right:0;
    }
    .huge{
        font-size:170%;
    }
	select{
		width:100%;
	}
    .bu1{
        width:40%;
        margin-left:30%;
    }


    .username{
	font-size:120%;
	padding-left:25%;
	margin-top:2%;
    }
    .new{
        width:100%;
    }
    .photo{
        text-align:center;
    }
    .im{
        margin-left:37%;
        width:25%;
    }
}


@media (max-width:650px) {

    .bu1{
        width:50%;
        margin-left:25%;
    }

    .content{
        width:100%;
        padding:0;
        margin:0;
        margin-right:0;
    }
    .huge{
        font-size:170%;
    }

    .field{
        padding:1%;
        font-size:92%;
    }
	select{
		width:100%;
	}


    .username{
	font-size:95%;
	margin-left:1%;
	margin-top:2%;
	padding:0;
    }
    .new{
        width:100%;
    }
    .photo{
        text-align:center;
    }
    .im{
        margin-left:30%;
        width:40%;
        height:40%;
    }
    .err{
        font-size:100%;
    }
}