<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Promanager</title>
    {% load staticfiles %}
    <link href="{% static 'website/projectmanagerhome.css' %}" rel="stylesheet" type="text/css">
   	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<body style="background-color:rgba(0,0,0,0.1)">
<div class="header1">
	<div class="huge" style="text-align:center">
		Promanager
	</div>
</div>

<div class="container-fluid" style="width:100%;padding:0">
 <nav class="navbar navbar-default" role="navigation" >
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand" style="color:black;font-weight:bold">
		  {% if usertype %}
		  STUDENT
		  {% else %}
		  ADMIN
		  {% endif %}
	  </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
            {% if project.id %}
			<li class="active" style="color:black;font-size:150%"><a href="/home/student_home?p_id={{ project.id }}">Home</a></li>
            {% else %}
            <li class="active" style="color:black;font-size:150%"><a href="/home/student_home?p_id=-1">Home</a></li>
            {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
	  <li class="dropdown">
          <a href="#" class="dropdown-toggle" style="color:black;font-size:140%" data-toggle="dropdown">Notifications <b class="caret"></b></a>
          <ul class="dropdown-menu">
			<!-- Start Iteration -->
			  {% if noti %}
			{% for notif in noti %}
            <li><a href="{% url 'notif' %}">
				<table class="table table-striped" style="padding:0;margin:0;">
					<tbody>
					<tr>
						<th>
							{{notif.sender}}:
						</th>
						<td>
							{{notif.note}}
						</td>
					</tr>
					</tbody>
				</table>
			</a></li>
			  {% endfor %}
			  {% else %}
			  <li style="text-align:center">
				    No new notifications
			  </li>
			  {% endif %}
			  <!--Stop Iteration -->
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" style="color:black;font-size:140%" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{currentuser}} <b class="caret"></b></a>
          <ul class="dropdown-menu">
			<li><a href="{% url 'profile' %}"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
			<li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-off"></span> Sign Out</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div><!-- end container -->


<div class="body"  style="min-height:300px">
	<div class="container-fluid">
		<div class="row" >
			<div class="col-sm-3" >
				<div class="sidebar-nav">
				<div class="navbar navbar-inverse navbar-default" role="navigation" >
				<div class="navbar-header" >
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<span class="visible-xs navbar-brand"><span class="	glyphicon glyphicon-th-list"></span> Projects</span>
				</div>
				<div class="navbar-collapse collapse sidebar-navbar-collapse">
					<div class="title">
					<h3>Projects</h3>
					</div>
					<ul class="nav navbar-nav navv" style="padding-left:5%;" >
						{% for project in project_list %}
                            <li><a href="/home/student_home?p_id={{ project.id }}"  style="color:white;font-size:135%">{{ project.p_name }}</a></li>
                        {% endfor %}
					</ul>
				</div><!--/.nav-collapse -->
				</div>
				</div>

				<div class="upload">
					<form action="{% url 'send' %}" method="post" enctype="multipart/form-data" id="form">{% csrf_token %}
						<div class="upload" >
							<textarea name="note" rows="4" style="width:100%" placeholder="Send Message.."></textarea>
						</div>
						<div class="row">
							<div class="col-xs-4">
								<h5>Select User:</h5>
							</div>
							<div class="col-xs-4">
								<select name="user" style="margin-top:2%">
								{% for man in usee %}
									man
									<option value="{{man}}">{{man}}</option>
								{% endfor %}
								</select>
							</div>
						</div>
						<div class="but3" style="width:70%;margin-left:15%">
							<button type="submit" class="button">Send</button>
						</div>
					</form>
				</div>
			</div>
				<div class="col-sm-6">
					<div class="log">
						<h3 style="text-align:center;font-weight:bold">{{ project.p_name }} (Project Manager)
						</h3>
						{% if team_list %}
					<h3>Teams
					</h3>
					<hr style="height:2px;background:black;">
						{% else %}
						<div style="margin-top:5%;margin-bottom:5%;text-align:center;font-style:italic">
							<h4>You haven't created any team yet</h4>
						</div>
						{% endif %}
					{% for team in team_list %}
							<div class="row" style="padding-right:2%;" >
								<div class="col-xs-3"></div>
								<div class="col-xs-6" style="font-weight:bold;font-size:150%;text-align:center">
									{{ team.t_name }}
								</div>
								<div class="col-xs-3" style="text-align:right;color:black;">
									<a style="color:black" onclick="window.location.href='/home/student_home/del_team?p_id={{ curr_proj.id }}&t_id={{ team.id }}'" class="glyphicon glyphicon-remove"></a>								</div>
							</div>
					<table class="table table-striped">
						<tbody style="text-align:center">
						<tr>
							<td><h5 style="font-weight:bold">Team Leader:</h5></td>
							<td>{{ team.t_leader }}</td>
						  </tr>
						  <tr>
							<td><h5 style="font-weight:bold">Team Members:</h5></td>
							<td>
							<ul style="margin-left:25%;text-align:left;list-style: none">
								{% for member in team.t_members.all %}
								<li style="padding:0;margin:0;line-height:70%;width:100%">
									<div class="row" style="display:inline;">
										<div class="col-xs-9">
											{{ member }}
										</div>
										<div class="col-xs-3" style="text-align:right;color:black;">
											<small><a data-toggle="modal" data-target="#myModal"  class="glyphicon glyphicon-remove" style="color:black"></a> </small>
										</div>
									</div>
								</li>
					  <!-- Modal -->
					  <div class="modal fade" id="myModal" role="dialog">
						<div class="modal-dialog">

						  <!-- Modal content-->
						  <div class="modal-content" style="background:rgba(0,0,0,.9);color:white;margin-top:30%;width:70%;margin-left:15%">
							<div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal" style="color:white" >&times;</button>
							  <h4 class="modal-title" >Confirm Delete</h4>
							</div>
							<div class="modal-body" style="background:rgba(0,0,0,.9);color:white;">
                                <div class="row" style="text-align:center;margin-left:10%;margin-right:10%;margin-top:2%;margin-bottom:2%;">
                                    <div class="col-xs-6">
									<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button type="submit" value="Submit" class="btn btn-default" onclick="window.location.href='/home/student_home/del_team_mem?p_id={{ curr_proj.id }}&t_id={{ team.id }}&mem_id={{ member.id }}'">Delete</button>
                                    </div>
							</div>
						  </div>

						</div>
					  </div>
					  <!-- End modal -->
					  </div>
						{% endfor %}


							</ul>
							</td>
						  </tr>
						</tbody>
					</table>
					<hr style="height:2px;background:black">
					{% endfor %}
					<div class="row">
						<div class="col-xs-6">
							<div class="but4">
								<button onclick="window.location.href='/home/student_home/add_team?p_id={{ curr_proj.id }}'" type="button" class="button"><small><span class="glyphicon glyphicon-plus"></span></small> Add Team</button>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="but4">
								<button onclick="window.location.href='/home/student_home/add_member?p_id={{ curr_proj.id }}'" type="button" class="button"><small><span class="glyphicon glyphicon-plus"></span></small> Add Team Member</button>
							</div>
						</div>
					</div>
					</div>
			</div>
			<div class="col-sm-3">

				<h3 style="text-align:center;line-height:2px">Notifications
				</h3>
				<hr style="height:2px;background:black;">
				<!-- Start Iteration only	 -->
				{% if noti %}
				{% for notif in noti %}
				<div class="row date" style="font-size:100%">
					<div class="col-xs-6">
						{{ notif.date | date:"SHORT_DATE_FORMAT"}}
					</div>
				</div>
				<table class="table table-striped count" style="margin:0;line-height:15px">
					<tbody>
						<tr>
						<td>{{notif.note}}</td>
						</tr>
				<!-- Stop iteration -->
					</tbody>
				</table>
				<div style="text-align:right;font-size:100%;margin-right:15%;font-style:italic">
					-{{notif.sender}}
				</div>
				{% endfor %}
				<div class="row">
					<div class="col-xs-8">
					<div class="but2">
						<a href="{% url 'notif' %}"><button type="#" class="button"> View all Notifications</button></a>
					</div>
					</div>
				</div>
				{% else %}
				<div style="text-align:center;font-style:italic">
					<h4>No notifications yet</h4>
				</div>
				{% endif %}
				<br>
				<h3 style="text-align:center;line-height:2px">Upload Files
				</h3>
				<hr style="height:2px;background:black;">
				{% if files %}
				<div class="row uploadfile" style="padding-top:5%">
					{% for file in files %}
					<div style="line-height:20%">
						<ul>
							<li><a href="/home/student_home/download_file?pk={{ file.id }}">{{ file.file }}</a></li>
						</ul>
					</div>
                    <br>
                    {% endfor %}
				</div>
					{% endif %}
					<!-- Stop Iteration -->
				{% if project_list %}
				<div class="row">
					<div class="col-xs-6">
					<div class="but2">
						<button type="#" onclick="window.location.href='/home/student_home/upload_file?p_id={{ curr_proj.id }}'" class="button"><small><span class="glyphicon glyphicon-open"></span></small> Upload a file</button>
					</div>
					</div>
					<div class="col-xs-6">
					<div class="but2">
						<button type="#" onclick="window.location.href='/home/student_home/view_files?p_id={{ curr_proj.id }}'" class="button"><small><span class="glyphicon glyphicon-file"></span></small> View all uploads</button>
					</div>
					</div>
				</div>
				{% else %}
				<div style="text-align:center;font-style:italic">
					<h4>To upload a file, you need to be a part of a project</h4>
				</div>
				{% endif %}
			</div>
			</div>
		</div>
	</div>
</div>

<script>
	$('.count').each(function(index){
	console.log( index + ": " + $( this ).text() );
	$(this).text($(this).text().substring(0,150));
	});

	$('.as').each(function(index){
	console.log( index + ": " + $( this ).text() );
	$(this).text($(this).text().substring(0,20));
	});
</script>

</body>
</html>